
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

#map { 
    height: 100%;
    width: 100%;
    z-index: 1;
}

#header {
    position: fixed;
    background-color: #4b0082;
    color: white;
    width: 100%;
    height: 60px;
    float: top;
    overflow-y: hidden;
    z-index: 999;
}

h3 {
    display: inline;
    padding: 10px 5px 5px 10px;
}

select {
  border: 1px solid #999;
  background: #fff;
  /*display: inline;*/
  width: 300px;
  /*padding: 5px 5px 5px 5px;*/
  font-size: 14px;
  border: 1px solid #ccc;
  height: 35px;
}

#title {
    color: white;
    font-family: "Verdana";
}

@media screen and (max-width: 800px) {
    #header {
        height: 20%;
    }

    select {
        height: 50px;
    }
}