
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: hidden;
}

#map { 
    height: 100%;
    width: 80%;
    z-index: 1;
    float: right;
}

#sidebar {
    background-color: #4b0082;
    color: white;
    width: 20%;
    height: 100%;
    float: left;
    overflow-y: visible;
    position: relative;
    z-index: 999;
}

h3 {
    display: block;
}

#routeDropdown {
  border: 1px solid #999;
  background: #fff;
  position: relative;
  width: 100%;
  font-size: 14px;
  border: 1px solid #ccc;
  height: 35px;
}

#title {
    color: white;
    font-family: "Verdana";
}

@media screen and (max-width: 800px) {
    #map { 
        height: 90%;
        width: 100%;
        z-index: 1;
        float: top;
    }
    
    h3 {
        display: none;
    }

    #sidebar {
        width: 100%;
        height: 10%;
        min-height: 50px;
    }

    #routeDropdown {
        display: block;
        padding: 0;
        height: 50px;
    }
}